target/
runtime/

*.class
*.log
*.tmp
*.db
*.sqlite
*.pem
*.key

.idea/
.vscode/

tools/ffuf/*.exe
tools/ffuf/*.zip
tools/katana/*.exe
tools/katana/*.zip
tools/javafx-jmods*/
tools/openjfx-*jmods*.zip
tools/nsis-*/
tools/nsis-*.zip
