# Build Outputs & Executables
dist/
build/
*.spec
*.exe

# Large Tool Binaries
tools/

# Python
__pycache__/
*.pyc
*.pyo

# Java & Maven
java_engine/target/
java_engine/runtime/
*.jar

# Zip files
*.zip

# Visual Studio / C++ / C# build artifacts
*.obj
*.o
*.lib
*.exp

# IDE
.idea/
.vscode/
